*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border: 1px solid #333;
    border-radius: 2px;
}

.p1{
    background-color: #6c30a0;
    height: 50px;
}

.p2{
    background-color: #05c957;
    width: 80px;
}

.p4{
    background-color: #b12806;
    width: 80px;

}

.p5{
    background-color: #a7b72d;
    height: 50px;
}

.middle-section{
    display: flex;
    gap: 10px;
    height: 500px;
}

.content-area{
    flex: 1;
    background-color: #ffffff;
    border: 1px solid #333;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    align-content: space-between;
}

.s1{
    background-color: #f1c40f;
    grid-column: span 2;
    height: 25px;
    color: #efe6e6;
}

.s2{
    background-color: #e67e22;
    height: 25px;
    margin-top: 250px;
}

.s3{
    background-color: #1abc9c;
    height: 25px;
    margin-top: 250px;
}